body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  user-select: none;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex: 1;
}

/* Projects */

.add-item {
  color: white;
  background-color: red;
  height: 32x;
  text-align: center;
  padding: 8px;
  font-size: 24px;
  /* Prevents highlighting text when user double-clicks*/
  user-select: none;
}

.add-item:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.project-item {
  color: white;
  padding: 8px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-project {
  font-size: 16px;
  padding: 8px;
}

.delete-project:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.sidebar {
  width: 300px;
  background: black;
  flex-shrink: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.section-title {
  font-size: 48px;
}

.sidebar .section-title {
  color: white;
  padding: 0px 8px 32px 8px;
}


/* Tasks */
.main-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
}

.task-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.main-bottom {
  display: flex;
  justify-content: center;
  align-items: center;

}

.task-contents {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 400px;
  display: flex;
  padding: 32px;
  margin: 32px;
}

.task-top {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.task-left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.task-bottom {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.task-holder {
  width: 400px;
}